{{#beers_by_brewery}}
<h1><a href="{{brewery_url}}">{{brewery}}</a> - {{beer_count}} beers</h1>
<hr>
<ul class="nav nav-list">
{{#beers}}
  <li><a href="{{beer_url}}">{{beer}}</a></li>
{{/beers}}
{{^beers}}
  <li>Sorry, no beers :(</li>
{{/beers}}
</ul>
{{/beers_by_brewery}}