<h1>Breweries</h1>
<ul>
{{#breweries}}
  <li>
    <a href="{{url}}" title="more about {{name}}">{{name}}</a>
    <a class="label label-info" href="{{beers_url}}">{{count}}</a>
  </li>
{{/breweries}}
</ul>