<header class="hero-unit">
  <h1>{{app_title}}</h1>
  <h3>Code Responsibly</h3>
    <p class="when-logged-out"><a href="#" class="login" title="Sign-in with BrowserID"><img src="{{base_url}}/assets/ico/sign_in_blue.png" alt="Sign in"></a>
       to start adding beers
    </p>
  <form id="get-beer" class="when-logged-in form-search" action="beers/" method="POST">
    <input type="search" name="id" placeholder="Whatcha drinkin'?"/>
    <button class="btn" type="submit">Drink</button>
  </form>
</header>