<header class="hero-unit">
  <h1>Couchbase Beers</h1>
  <h3>Code Responsibly</h3>
  <form id="get-beer" class="form-search" action="/beers/" method="GET">
    <input type="search" name="id" />
  </form>
</header>