<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{app_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Couchbase Server 2.0 Sample Application built on data from OpenBeerDB.com">
    <meta name="author" content="Benjamin Young <benjamin@couchbase.com> - http://twitter.com/bigbluehat">

    <!-- Le styles -->
    <link href="{{base_url}}/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{base_url}}/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{base_url}}/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{base_url}}/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{base_url}}/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{base_url}}/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{base_url}}/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{base_url}}/">{{app_title}}</a>
          {{^on_index}}
          <form action="{{base_url}}/beers/" method="GET" class="navbar-search pull-left">
            <input type="search" placeholder="Whatcha drinkin'?" class="search-query span2" name="id">
          </form>
          {{/on_index}}
          <ul class="nav pull-right">
            <li>
              <a href="#" id="login" title="Sign-in with BrowserID">
                <img src="{{base_url}}/assets/ico/sign_in_blue.png" alt="Sign in">
              </a>
              <a href="#" id="logout" style="display:none">
                Hi yeah, <span id="whoami">??</span>
                Wanna logout?
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {{{content}}}
      {{#on_index}}
      {{#has_beers}}
      <div class="row">
        <div class="span4">
          <h3>You most recently drank...</h3>
          <ul>
          {{#beers}}
            <li>{{name}}</li>
          {{/beers}}
          </ul>
        </div>

        <div class="span4">
          <h3>You mostly drink...</h3>
          <ul>
          {{#beers}}
            <li>{{name}}</li>
          {{/beers}}
          </ul>
        </div>

        <div class="span4">
          <h3>You seem to have a thing for...</h3>
          <ul>
          {{#beers}}
            <li>{{name}}</li>
          {{/beers}}
          </ul>
        </div>
      </div>
      {{/has_beers}}
      {{/on_index}}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{base_url}}/assets/js/jquery.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-transition.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-alert.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-modal.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-dropdown.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-scrollspy.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-tab.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-tooltip.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-popover.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-button.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-collapse.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-carousel.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-typeahead.js"></script>

    <script src="https://browserid.org/include.js" type="text/javascript"></script>
    <script>
    function loggedIn(res) {
      $('#whoami').html(res);
      $('#login').hide();
      $('#logout').show();
    }

    function loggedOut() {
      $('#login').show();
      $('#logout').hide();
    }

    function gotVerifiedEmail(assertion) {
      // got an assertion, now send it up to the server for verification
      if (assertion !== null) {
        $.ajax({
          type: 'POST',
          url: '{{base_url}}/browserid/login',
          data: { assertion: assertion },
          success: function(res, status, xhr) {
            if (res === null) loggedOut();
            else loggedIn(res);
          },
          error: function(res, status, xhr) {
            console.log("login failure", res);
          }
        });
      } else {
        loggedOut();
      }
    }

    $(function() {
      $.get('{{base_url}}/browserid/whoami', function (res) {
        if (res === null) {
          // see if we are logged in by default
          if (navigator.id.get) {
            navigator.id.get(gotVerifiedEmail, {silent: true});
          } else {
            loggedOut();
          }
        } else {
          loggedIn(res, true);
        }
      }, 'json');

      $('#login').on('click', function() {
        navigator.id.get(gotVerifiedEmail, {allowPersistent: true});
        return false;
      });

      $('#logout').on('click', function() {
        $.ajax({
          type: 'POST',
          url: '{{base_url}}/browserid/logout',
          success: function(res, status, xhr) {
            navigator.id.logout();
            loggedOut();
          }
        });
      });
    });
    </script>
  </body>
</html>